rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /mosques/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /system/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /admins/{document=**} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
